# Change the variables and rename this file to `.env` to use it in your application
AZURE_OPENAI_ENDPOINT=https://endpoint_name.openai.azure.com/
AZURE_OPENAI_API_KEY=abc123
AZURE_OPENAI_API_VERSION=2025-01-01-preview
AZURE_OPENAI_DEPLOYMENT=gpt-5.1
AZURE_OPENAI_MAX_COMPLETION_TOKENS=1000
AZURE_OPENAI_TEMPERATURE=0.1